
.wrapper{
    margin: auto;
}

.paper{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 25px;
    width: 40%;
}

.heading{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#btn{
    text-align: center;
}
.btn{
    width: 25%;
}


